<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1></h1>
            <p class="lead">Welcome to see the sport players's stats, You need to give player's ID.
            click Player-stats in menu
            </p>
            
        </div>
    </div>
</div>
