<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
        	<p style="color:green">{{message}}</p>
            
            <p class="lead">Search Player code</p>
            <form name="myform">
            	<p> <input type="text" name="player_name" ng-model="playerName" ng-required="true"> <input type="button" value="Search Player" ng-click="myform.$valid && searchPlayer();"> (For example: 28779, 35320, 49209 and etc..,)</p>
            	<span style="color:blue" ng-show="myform.player_name.$error.required">Player Id is Mandatory.</span>

            </form>
           
            <table ng-show="sidebar.show" border=0 cellpadding="10" cellspacing="10">             	
                <tr>
                    <td colspan="2" class="lead">
                        <h1>Player Stats</h1>
                    </td>
                </tr> 
             	<tr ng-repeat="(key, value) in playerStats" ng-if="key!='data' && key != 'provider' && key != 'creditsLeft' && key != 'ttl' && key != 'v' && key != 'cache' && key != 'v'">
             		<td>{{key}} 
                    </td>
             		<td ng-if="key !== 'imageURL'">{{value}}</td>
                    <td ng-if="key === 'imageURL'"><img src="{{value}}"></td>           		
             	</tr> 
                <tr>
                    <td colspan="2" class="lead">
                         <h3>Batting Details (first class)</h3>
                    </td>
                </tr>          
             	<tr ng-repeat="(key, value) in playerStats.data.batting.firstClass">
                    <td>{{key}} </td>
                    <td>{{value}}</td>                  
                </tr>
                <tr>
                    <td colspan="2" class="lead">
                        <h3>Batting Details (T20)</h3>
                    </td>
                </tr> 
                <tr ng-repeat="(key, value) in playerStats.data.batting.T20Is">
                    <td>{{key}} </td>
                    <td>{{value}}</td>                  
                </tr>
                <tr>
                    <td colspan="2" class="lead">
                         <h3>Batting Details (ODIs)</h3>
                    </td>
                </tr> 
                <tr ng-repeat="(key, value) in playerStats.data.batting.ODIs">
                    <td>{{key}} </td>
                    <td>{{value}}</td>                  
                </tr>
                <tr>
                    <td colspan="2" class="lead">
                         <h3>Batting Details (tests)</h3>
                    </td>
                </tr> 
                <tr ng-repeat="(key, value) in playerStats.data.batting.tests">
                    <td>{{key}} </td>
                    <td>{{value}}</td>                  
                </tr>
               

                <tr>
                    <td colspan="2" class="lead">
                         <h3>Bowling Details (first class)</h3>
                    </td>
                </tr>          
                <tr ng-repeat="(key, value) in playerStats.data.bowling.firstClass">
                    <td>{{key}} </td>
                    <td>{{value}}</td>                  
                </tr>
                <tr>
                    <td colspan="2" class="lead">
                         <h3>Bowling Details (T20)</h3>
                    </td>
                </tr> 
                <tr ng-repeat="(key, value) in playerStats.data.bowling.T20Is">
                    <td>{{key}} </td>
                    <td>{{value}}</td>                  
                </tr>
                <tr>
                    <td colspan="2" class="lead">
                         <h3>Bowling Details (ODIs)</h3>
                    </td>
                </tr> 
                <tr ng-repeat="(key, value) in playerStats.data.bowling.ODIs">
                    <td>{{key}} </td>
                    <td>{{value}}</td>                  
                </tr>
                <tr>
                    <td colspan="2" class="lead">
                         <h3>Bowling Details (tests)</h3>
                    </td>
                </tr> 
                <tr ng-repeat="(key, value) in playerStats.data.bowling.tests">
                    <td>{{key}} </td>
                    <td>{{value}}</td>                  
                </tr>

             	</table>
             	
            </p>
        </div>
    </div>
</div>
